<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PictureInterfaceSoapBinding" maxBufferPoolSize="20000000"
                    maxReceivedMessageSize="20000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.danperrett.com/PictureServer/services/PictureInterface"
                binding="basicHttpBinding" bindingConfiguration="PictureInterfaceSoapBinding"
                contract="PictureService.PictureInterface" name="PictureInterface" />
        </client>
    </system.serviceModel>
</configuration>